*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    width: 100%;
}
.form-box{
    position: relative;
    width: 550px;
    height: 650px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 4px 2px rgb(10, 10, 10);
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.dropdown a{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}
.label-check{
    font-weight: bold;
    margin-top: 10px;
}
.description-label{
    font-weight: bold;
    margin-top: 10px;
    color: black;
    font-size: 1em;
    pointer-events: none;
}
textarea{
    width: 100%;
    height: 60px;
    max-height: 100px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    border-bottom: 2px solid #0a0a0a;
}
.file-choosing label{
    font-weight: bold;
    margin-top: 10px;
}
.file-choosing input{
    margin-top: 5px;
}
